<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @store.category %>
</p>

<table>
  <thead align="left">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

<% @products.each do |product| %>
	 <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>

      </tr>
<% end %>
</table>
<br/><br/>
<%= link_to 'New Product', new_store_product_path(@store) %> | 
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
